@using Bugs.ViewModels;
@using Bugs.Models.Enums;
@model List<BugVM>;

@{
    ViewData["Title"] = "Home Page";
}

@section css{
    <environment include="Development">
        <link rel="stylesheet" href="~/css/index.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/index.min.css" asp-append-version="true" />
    </environment>
}

@if (Model == null || Model.Count() == 0)
{
    <h1>Ошибок нет</h1>
}
else
{
    <div class="bug-table">
        <div class="bug-header">
            <div>
                @foreach (Status st in Enum.GetValues(typeof(Status)))
                {
                    <div>@st.ToString()</div>
                }
            </div>
        </div>

        <div class="bug-body">
            @{
                foreach (Status st in Enum.GetValues(typeof(Status)))
                {
                    <div class="bug-column">
                        @{
                            IEnumerable<BugVM> list = Model.Where(m => m.Histories.LastOrDefault().Status == st);
                            foreach (BugVM bug in list)
                            {
                                <div>
                                    <div class="bug-cell" onclick="EditBug('@Url.Action("EditBug", "Home", new { bugId = bug.Id })')">
                                        <div># @bug.Id</div>
                                        <div>@bug.Name</div>
                                        @*<div>@bug.Histories.LastOrDefault().DateUpdate</div>*@
                                        <div>@bug.Histories.LastOrDefault().Updater.LastName</div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
}

@section Scripts{

    <environment include="Development">
        <script src="~/js/index.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/index.min.js" asp-append-version="true"></script>
    </environment>
}